<div class="align-items-center pt-3 pb-2 mb-3">
  <div class='row'>
    <div class='col-12'>
      <h1 class="h2">List Users (<%= @users.count %>)</h1>
      <br/>
    </div>
    <div class='col-12'>
      <%= form_with(url: users_path, method: "get", local: true) do |form| %>
        <div class='row'>
          <div class="col-4">
            <%= form.text_field :keywords, value: params[:keywords], placeholder: "Search...", class: 'form-control' %>
          </div>
          <div class="col-3">
            <%= form.text_field :location, value: params[:location], placeholder: "Country or City...", class: 'form-control' %>
          </div>
          <div class="col-3">
            <%= form.text_field :gender, value: params[:gender], placeholder: "Gender...", class: 'form-control' %>
          </div>
          <div class="col-2">
            <input type="submit" value="Search" class='btn btn-primary' style="width:100%">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="table-responsive small">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">UUID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th scope="row"><%= user.uuid %></th>
          <td><%= user.name['title'] %>.<%= user.name['first'] %> <%= user.name['last'] %></td>
          <td><%= user.location['city'] %>, <%= user.location['street']['name'] %>, <%= user.location['country'] %></td>
          <td><%= user.gender %></td>
          <td><%= user.age %></td>
          <td><%= button_to "Delete", delete_user_path(user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>