<div class="align-items-center pt-3 pb-2 mb-3">
  <div class='row'>
    <div class='col-12'>
      <h1 class="h2">List Daily Report (<%= @reports.count %>)</h1>
      <br/>
    </div>
    <div class='col-12' style="margin-bottom:50px;">
      <canvas id="dateReportChart" width="800" height="400"></canvas>
    </div>
    <div class='col-12'>
      <%= form_with(url: reports_path, method: "get", local: true) do |form| %>
        <div class='row'>
          <div class="col-5">
            <%= form.date_field :start_date, value: params[:start_date], placeholder: "Start Date...", class: 'form-control' %>
          </div>
          <div class="col-5">
            <%= form.date_field :end_date, value: params[:end_date], placeholder: "End Date...", class: 'form-control' %>
          </div>
          <div class="col-2">
            <input type="submit" value="Search" class='btn btn-primary' style="width:100%">
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="table-responsive small">
  <table class="table table-striped-columns">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Male Count</th>
        <th scope="col">Female Count</th>
        <th scope="col">Male AVG Age</th>
        <th scope="col">Female AVG Age</th>
        <th scope="col">Created At</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |r| %>
        <tr>
          <td><%= r.date %></td>
          <td><%= r.male_count %></td>
          <td><%= r.female_count %></td>
          <td><%= r.male_avg_age %></td>
          <td><%= r.female_avg_age %></td>
          <td><%= r.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  var ctx = document.getElementById('dateReportChart').getContext('2d');
  var dateReportChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= raw @reports.pluck(:date).to_json %>,
      datasets: [
      {
        label: 'Male Count',
        data:  <%= @reports.pluck(:male_count) %>,
        borderColor: 'rgba(54, 162, 235, 1)',
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderWidth: 1
      },
      {
        label: 'Female Count',
        data:  <%= @reports.pluck(:female_count) %>,
        borderColor: 'rgba(54, 162, 235, 1)',
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderWidth: 1
      },
      {
        label: 'Male AVG Age',
        data: <%= @reports.pluck(:male_avg_age) %>,
        borderColor: 'rgba(75, 192, 192, 1)',
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderWidth: 1
      },
      {
        label: 'Female AVG Age',
        data: <%= @reports.pluck(:female_avg_age) %>,
        borderColor: 'rgba(75, 192, 192, 1)',
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderWidth: 1
      }
      ]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>