<!DOCTYPE html>
<html>
  <head>
    <title>ProjectAssignment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#">PSY.AI</a>
    </header>
    <div class='container-fluid'>
      <div class='row'>
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <ul class="nav flex-column">
            <li class="nav-item">
              <%= link_to 'Dashboard', root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'List Users', users_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <%= yield %>
        </main>
      </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  </body>
</html>
